[*]
indent_style = space
indent_size = 2
end_of_line = lf
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true

[*.md]
indent_size = 4
trim_trailing_whitespace = false

[*.sln]
indent_style = tab

[*.cs]
indent_size = 4
max_line_length = 120
csharp_max_line_length = 120

[*.{csproj,props,targets}]
indent_size = 4
trim_trailing_whitespace = false
